// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.bespoke-parent
  background-color: #ddd
  color: #111

h1
  border-color: #111

.post-hoc-ergo-propter-hoc
  background-image: url('../images/rooster-sunrise.jpg')
