doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Micro App Deploys

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Micro App Deploys
        h3 by Samson Ootoovak

      section
        h2 Dokku
        ol
          li What does it do?
          li Project history
          li Some Examples
          li Pluggins and DB
          li Best fit
          li Alternatives

      section
        h2 What does it do?
        ul
          li Sets up Docker instances
          li Lets you deploy like Heroku
          li On Linux servers
          li So without the lock-in

      section
        h2 Project history
        ul
          li Started by Jeff Lindsay, June 2013
          li The pitch was "Docker powered mini-Heroku in around 100 lines of Bash"
          li Had a lull
          li Now backed by Deis!

      section
        h2 Ways to set it up
        ul
          li DIY (Ubuntu + Bash Script)
          li Vagrant
          li Digital Ocean

      section
        h4 Setting up DNS
        img(src='../images/setup-dns.png')

      section
        h2 Setting up DNS with Vagrant
        ul
          li 10.0.0.2 dokku.me
          li 10.0.0.2 app-name.dokku.me
          li (DON'T) config SSH to use port 2222
          li Need id_rsa.pub?

      section(data-bespoke-backdrop='post-hoc-ergo-propter-hoc')
        h3 The rooster crows immediately before sunrise,
        h3 therefore the rooster causes the sun to rise.

      section
        h4 Setting up access (http://dokku.me)
        img(src='../images/setup-subdomains.png')

      section
        h2 Deploying!
        ul
          li Like Heorku
          li Uses Buildpacks
          li Recognises Procfiles

      section
        h2 Deploying a simple app
        ul
          li Node
          li git remote add dokku dokku@dokku.me:node-simple
          li git push dokku master

      section
        h2 Deploying a simple app
        ul
          li Sinatra
          li (Any Rack app really)
          li Uses the Ruby/Rack built in Buildpack
          li Uses Bundler so need a Gemfile
          li Note with Vagrant I needed to set Ruby to 2.1.0 to get it to work

      section(data-bespoke-backdrop='post-hoc-ergo-propter-hoc')
        h3 The rooster crows immediately before sunrise,
        h3 therefore the rooster causes the sun to rise.

      section
        h2 Deploying a simple app
        ul
          li Static app
          li Can find community maintained Buildpacks (for Heroku)
          li Just specify them in .env file with BUILDPACK_URL

      section
        h2 Deploying Rails
        ul
          li Need a database...

      section
        h2 Deploying Postgres
        ul
          li Pluggins
          li cd /var/lib/dokku/plugins
          li sudo git clone https://github.com/Kloadut/dokku-pg-plugin postgresql
          li sudo dokku plugins-install
          li sudo dokku postgresql:create rails-simple
          li sudo dokku postgresql:link rails-simple rails-simple

      section
        h2 Deploying Rails
        ul
          li Never got this working...

      section
        h2 Results
        ul
          li Vagrant, how does it work?
          li Dokku can handle deploy more than one app!
          li Once set up great for prototyping
          li (Please share your tinkering projects!)
          li Probably not suited for much more yet
          li Nice to not be locked in but still have easy deploys

      section.emphatic-text
        h2 Alternatives
        ul
          li Deis
          li Flynn
          li Fig
          li Tsuru
          li Panamax

      section.emphatic-text
        h2 What we covered
        h3 What is Dokku?
        h3 How does it work? Vagrant???!!!
        h3 What it's good for
        h3 Alternatives (exciting!)

      section.emphatic-text
        h1 Questions?
        h3 Samson Ootoovak
        div http://ootoovak.com
        div @ootoovak
        img(src='../images/dev-academy.png')

    script(src='build/build.js')
